
    {% block body %} 
<link href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel=' stylesheet' type='text/css'>

{% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Accueil</a>
    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
           
           
                <li class="nav-item">
                        <a class="nav-link" href="/jr/authen">Connexion</a>
                </li>
                
                     
                <li class="nav-item">
                        <a class="nav-link" href="/">Deconnexion</a>
                    </li>
                    
        </ul>
    </div>
</nav>
<div class="container">
</div>


<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aut tempore et officiis sunt nostrum beatae numquam adipisci illum veniam, iure neque aliquam placeat dolorem omnis, veritatis, voluptas blanditiis? Odio nulla quos voluptatem amet in optio tempora harum, voluptate laudantium?</p>
<p>Tenetur a, perferendis nulla iste quasi minus! Voluptatibus doloremque fuga, ab assumenda quia magnam unde vero nobis optio, earum doloribus tempora, labore maxime architecto et tenetur amet molestias sint rerum! Vel, doloribus. Neque, natus sunt aut perspiciatis quam commodi sint?</p>  


</body>
</html>
{% endblock  %}